<div>
  <p>POZIOM 04</p>
  <div>
    <p>A umiesz w kryptografie?</p>
  </div>
  <div>
    <span>Następny poziom:</span><br>
    /level5?hash=<span>md5</span>
  </div>
  <!-- plik pomocniczy: /hint.js -->
</div>
